1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [ ]:
test1 = 'This is a test of the emergency text system'

with open('test.txt', 'w') as file:
    file.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [ ]:
with open('test.txt', 'r') as file:
    test2 = file.read()
if test1 == test2:
    print("The contents of test1 and test2 are the same.")
else:
    print("The contents of test1 and test2 are different.")

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [ ]:
import csv

lines = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(lines)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('''CREATE TABLE books
                  (title TEXT, author TEXT, year INTEGER)''')

conn.commit()
conn.close()

5. Read books.csv and insert its data into the book table.

In [ ]:
import csv
import sqlite3
with open('books.csv', 'r') as file:
    reader = csv.reader(file)

    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    for row in reader:
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", row)
    conn.commit()
    conn.close()

6. Select and print the title column from the book table in alphabetical order.

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute("SELECT title FROM books ORDER BY title ASC")
rows = cursor.fetchall()
for row in rows:
    print(row[0])
conn.close()

7. From the book table, select and print all columns in the order of publication.

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute("SELECT * FROM books ORDER BY year ASC")
rows = cursor.fetchall()
for row in rows:
    print(row)
conn.close()

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///books.db')
conn = engine.connect()
conn.close()

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
import redis
r = redis.Redis()
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')
fields = r.hgetall('test')
for field, value in fields.items():
    print(f'{field}: {value.decode()}')

10. Increment the count field of test and print it.

In [ ]:
import redis
r = redis.Redis()
r.hincrby('test', 'count')
count = r.hget('test', 'count')
print(f"Updated count: {count.decode()}")